/*  Use a more-intuitive box-sizing model  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin  */
* {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}
